
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}

/*
*/
body {
    background: #f1f4f7;
    padding-top: 60px;
    font-size: 14px;
    color: #444444;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*1. BASIC STYLE
------------------------------------------------------------------------------------------------------------------------
*/


.mCustomScrollbar {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
    /* direct pointer events to js */
}

.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
    -ms-touch-action: auto;
    touch-action: auto;
}

.mCustomScrollBox {
    /* contains plugin's markup */
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr;
}

.mCSB_container {
    /* contains the original content */
    overflow: hidden;
    width: auto;
    height: auto;
}


/*
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR
y-axis
------------------------------------------------------------------------------------------------------------------------
*/

.mCSB_inside>.mCSB_container {
    margin-right: 30px;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
}


/* non-visible scrollbar */

.mCS-dir-rtl>.mCSB_inside>.mCSB_container {
    /* RTL direction/left-side scrollbar */
    margin-right: 0;
    margin-left: 30px;
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-left: 0;
}


/* RTL direction/left-side scrollbar */

.mCSB_scrollTools {
    /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.mCSB_outside+.mCSB_scrollTools {
    right: -26px;
}


/* scrollbar position: outside */

.mCS-dir-rtl>.mCSB_inside>.mCSB_scrollTools,
.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
    /* RTL direction/left-side scrollbar */
    right: auto;
    left: 0;
}

.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
    left: -26px;
}


/* RTL direction/left-side scrollbar (scrollbar position: outside) */

.mCSB_scrollTools .mCSB_draggerContainer {
    /* contains the draggable element and dragger rail markup */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}

.mCSB_scrollTools a+.mCSB_draggerContainer {
    margin: 20px 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    border-radius: 16px;
}

.mCSB_scrollTools .mCSB_dragger {
    /* the draggable element */
    cursor: pointer;
    width: 100%;
    height: 30px;
    /* minimum dragger height */
    z-index: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    /* the dragger element */
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    border-radius: 16px;
    text-align: center;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    width: 12px;
    /* auto-expanded scrollbar */
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    width: 8px;
    /* auto-expanded scrollbar */
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.mCSB_scrollTools .mCSB_buttonDown {
    bottom: 0;
}


/*
-----------------
*/

.user-notification {
    float: right;
    margin-right: 30px;
    /*padding-top: 12px;*/
    padding: 22px 20px 10px 0;
}

.user-notification .dropdown-toggle {
    font-size: 20px;
    padding: 10px;
    color: #91a8b0;
    position: relative;
}

.user-notification .dropdown-toggle .badge {
    position: absolute;
    right: 8px;
    top: 10px;
    background: #f5678a;
    width: 5px;
    height: 5px;
    display: block;
    padding: 0;
}

.user-notification .dropdown-menu {
    width: 340px;
}

.notification-list li:nth-child(2n) {
    background: #eff5f7;
}

.notification-list li a {
    display: block;
    position: relative;
    padding: 10px 15px 10px 75px;
    min-height: 75px;
    color: #33484f;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
}

.notification-list li a img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 13px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.notification-list li a h3 {
    font-size: 18px;
    color: #33484f;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.notification-list li a h3 span {
    float: right;
    font-size: 14px;
    font-weight: 500;
    padding-top: 2px;
}

.notification-list li a p {
    margin-bottom: 0;
}

.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
}

.scroll_1 {
    height: 420px;
    width: 380px;
    padding: 200px;
    overflow: auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropup .dropdown-menu {
    margin-top: 0;
    margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropright .dropdown-menu {
    margin-top: 0;
    margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropright .dropdown-toggle::after {
    vertical-align: 0;
}

.dropleft .dropdown-menu {
    margin-top: 0;
    margin-right: 0.125rem;
}

.dropleft .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
}

.dropleft .dropdown-toggle::after {
    display: none;
}

.dropleft .dropdown-toggle::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid;
    border-bottom: 0.3em solid transparent;
}

.dropleft .dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropleft .dropdown-toggle::before {
    vertical-align: 0;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #6c757d;
    background-color: transparent;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #6c757d;
    white-space: nowrap;
}

.header.product-info img {
    width: 10%;
    height: 80px;
    float: left;
}

.logo img {
    height: 150%;
    margin-top: -20px;
}

.logo {
    padding: 0 5px !important;
}

p {
    color: rgb(65, 64, 64);
}

a,
a:hover,
a:focus {
    color: #30a5ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #252525;
}

h1 {
    font-weight: 300;
    font-size: 40px;
}

h2 {
    font-weight: 300;
    margin-bottom: 20px;
}

h3,
h4 {
    font-weight: 300;
}

.large {
    font-size: 2em;
}

.text-muted {
    color: #afb0b1;
}

.color-gray {
    color: #444444;
}

.color-blue {
    color: #30a5ff;
}

.color-teal {
    color: #1ebfae;
}

.color-orange {
    color: #ffb53e;
}

.color-red {
    color: #f9243f;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.fa-xl {
    font-size: 2em;
}

input.form-control {
    border: 1px solid #ddd;
    box-shadow: none;
    height: 40px;
}

.bootstrap-table input.form-control {
    height: 34px;
}

.input-group-btn .btn {
    height: 40px;
}

.form-control:focus {
    border: 1px solid #30a5ff;
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.has-success .form-control,
.has-success .form-control:focus {
    border: 1px solid #8ad919;
}

.has-warning .form-control,
.has-warning .form-control:focus {
    border: 1px solid #ffb53e;
}

.has-error .form-control,
.has-error .form-control:focus {
    border: 1px solid #f9243f;
}

.navbar-custom {
    background: #fff;
    height: 60px;
}

.navbar-header .navbar-brand {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    height: 60px;
    padding-top: 18px;
}

.navbar-header .navbar-brand span {
    color: #30a5ff;
}

.navbar-toggle {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    margin-top: 10px;
}

.navbar-toggle:hover {
    background: rgba(255, 255, 255, 0.05);
}

.icon-bar {
    background: #30a5ff;
}

.dropdown {
    background: rgba(255, 255, 255, 0.1);
    float: left;
    margin: 10px 8px;
    padding: 0px;
    border-radius: 4px;
}

.dropdown a.dropdown-toggle {
    color: rgb(90, 12, 235);
    height: 40px;
    width: 40px;
    padding-top: 11px;
    padding-right: 40px;
}

.dropdown:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.dropdown .label {
    top: -4px;
    left: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    border-radius: 9999px;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    background: none;
}

.dropdown-messages {
    border: 1px solid #fff;
    width: 360px;
    background: rgba(255, 255, 255, 0.9);
    color: #444;
    font-size: 0.9em;
}

.dropdown-messages img {
    margin: 5px 10px;
    float: left;
}

.dropdown-messages .message-body {
    margin: 5px;
    float: left;
    width: 280px;
}

.dropdown small {
    color: #999;
}

.dropdown em {
    margin: 0 5px;
}

.dropdown-menu>li>a {
    padding: 5px 10px;
}

.dropdown-menu li .message-body a {
    color: #444;
}

.dropdown-menu li a:hover {
    color: #30a5ff;
    text-decoration: none;
    background: none;
}

.divider,
.clear {
    clear: both;
}

.dropdown-alerts {
    border: 1px solid #fff;
    width: 260px;
    background: rgba(255, 255, 255, 0.9);
    color: #444;
    font-size: 0.9em;
}

.all-button a {
    text-align: center;
    color: #444;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

a.btn:hover,
button:hover {
    opacity: 0.8;
}

a.btn:active,
button:active {
    box-shadow: inset 0px 0px 500px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.btn-link,
.page-link,
.text-primary {
    color: #30a5ff !important;
}

.btn-link:focus,
.btn-link:hover,
.page-link:focus,
.page-link:hover,
a.text-primary:focus,
a.text-primary:hover {
    color: #50b3ff !important;
}

.bg-primary {
    color: #1b3548;
    background-color: #e9ecf2;
}

a.bg-primary:hover {
    background-color: #e9ecf2;
}

.bg-success,
.bg-green {
    color: #fff;
    background-color: #8ad919;
}

a.bg-success:hover,
a.bg-green:hover {
    background-color: #8ad919;
}

.bg-success a,
.bg-green a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-teal {
    color: #fff;
    background-color: #1ebfae;
}

a.bg-teal:hover {
    background-color: #1ebfae;
}

.bg-teal a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-info,
.bg-blue {
    color: #fff;
    background-color: #30a5ff;
}

a.bg-info:hover,
a.bg-blue:hover {
    background-color: #30a5ff;
}

.bg-info a,
.bg-blue a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-warning,
.bg-orange {
    color: #fff;
    background-color: #ffb53e;
}

a.bg-warning:hover,
a.bg-orange:hover {
    background-color: #ffb53e;
}

.bg-warning a,
.bg-orange a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-danger,
.bg-red {
    color: #fff;
    background-color: #f9243f;
}

a.bg-danger:hover,
a.bg-red:hover {
    background-color: #f9243f;
}

.bg-danger a,
.bg-red a {
    color: rgba(255, 255, 255, 0.75);
}

a.label:hover,
a.label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.btn .label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: #777;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}

.label-primary {
    color: #1b3548;
    background-color: #e9ecf2;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #e9ecf2;
}

.label-success {
    background-color: #8ad919;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #8ad919;
}

.label-info {
    background-color: #30a5ff;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #30a5ff;
}

.label-warning {
    background-color: #ffb53e;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}

.label-danger {
    background-color: #f9243f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #f9243f;
}

.panel {
    border: 0;
}

.panel-container {
    padding-top: 20px;
}

.panel-heading .fa-toggle-up,
.panel-heading .fa-toggle-down {
    font-size: 17px;
}

.panel-primary>.panel-heading {
    background-color: #30a5ff;
    color: #fff;
    border: none;
}

.panel-success>.panel-heading {
    background-color: #8ad919;
    color: #fff;
    border: none;
}

.panel-info>.panel-heading {
    background-color: #30a5ff;
    color: #fff;
    border: none;
}

.panel-warning>.panel-heading {
    background-color: #ffb53e;
    color: #fff;
    border: none;
}

.panel-danger>.panel-heading {
    background-color: #f9243f;
    color: #fff;
    border: none;
}

.panel-primary .panel-settings,
.panel-primary .panel-toggle,
.panel-success .panel-settings,
.panel-success .panel-toggle,
.panel-info .panel-settings,
.panel-info .panel-toggle,
.panel-warning .panel-settings,
.panel-warning .panel-toggle,
.panel-danger .panel-settings,
.panel-danger .panel-toggle {
    border: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.panel-primary .panel-settings:hover,
.panel-primary .panel-toggle:hover,
.panel-success .panel-settings:hover,
.panel-success .panel-toggle:hover,
.panel-info .panel-settings:hover,
.panel-info .panel-toggle:hover,
.panel-warning .panel-settings:hover,
.panel-warning .panel-toggle:hover,
.panel-danger .panel-settings:hover,
.panel-danger .panel-toggle:hover {
    border: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
}

.panel-blue {
    background: #30a5ff;
    color: #fff;
}

.panel-teal {
    background: #1ebfae;
    color: #fff;
}

.panel-orange {
    background: #ffb53e;
    color: #fff;
}

.panel-red {
    background: #f9243f;
    color: #fff;
}

.dark-overlay {
    background: rgba(0, 0, 0, 0.05);
}

.panel-blue p,
.panel-teal p,
.panel-orange p,
.panel-red p {
    color: rgba(255, 255, 255, 0.75);
}

.panel-heading {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 60px;
    line-height: 38px;
}

.panel-default .panel-heading {
    background: #fff;
    border-bottom: 1px solid #e9ecf2;
    color: #444444;
}

.panel-footer {
    background: #fff;
    border-top: 1px solid #e9ecf2;
}

.panel-widget {
    padding: 10px 0;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    background: none;
    text-align: center;
    color: #333;
}

.panel-widget .panel-footer {
    border: 0;
    text-align: center;
}

.panel-footer .input-group {
    padding: 0px;
    margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn,
.panel-footer .input-group-btn:last-child>.btn-group {
    margin: 0;
}

.panel-widget .panel-footer a {
    color: #999;
}

.panel-widget .panel-footer a:hover {
    color: #666;
    text-decoration: none;
}

.panel-widget .text-muted {
    margin-top: -6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

.panel-widget .large {
    color: #373b45;
    font-size: 3em;
}

.panel-settings {
    list-style: none;
    padding: 0;
    margin: 0;
}

.panel-settings .dropdown a.dropdown-toggle,
.panel-settings a {
    padding: 0;
    background: none;
    color: #7c7c7c;
}

.panel-settings a,
.panel-toggle {
    width: 40px;
    padding: 2px 0 0 0;
}

.panel-settings:hover,
.panel-toggle:hover,
.panel-settings .dropdown a.dropdown-toggle:hover,
.panel-settings:active,
.panel-toggle:active,
.panel-settings .dropdown a.dropdown-toggle:active,
.panel-settings:focus,
.panel-toggle:focus,
.panel-settings .dropdown a.dropdown-toggle:focus {
    background: #f1f4f7;
    color: #444444;
}

.panel-settings,
.panel-toggle {
    display: inline-block;
    margin: -1px -5px 0 15px !important;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #e9ecf2;
    color: #7c7c7c;
    background: #fff;
    width: 42px;
}

.panel-settings {
    width: 42px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel-settings li.dropdown {
    margin: 0;
    padding: 0;
}

.dropdown-settings {
    border: 1px solid #fff;
    width: 220px;
    font-size: 0.9em;
    padding: 0;
}

.dropdown-settings li {
    list-style: none;
    padding: 0 10px;
    width: 220px;
    height: 26px;
    line-height: 26px;
}

.dropdown-settings .divider {
    margin: 7px 0;
}

.dropdown-settings li a {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    color: #444444;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin: 0px;
    font-size: 14px;
}

.panel-button-tab-right {
    margin-left: 4px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.panel-button-tab-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-top {
    border-top: 1px solid #dadbda;
}

.border-right {
    border-right: 1px solid #dadbda;
}

.border-bottom {
    border-bottom: 1px solid #dadbda;
}

.border-left {
    border-left: 1px solid #dadbda;
}

.panel .border-top,
.panel .border-right,
.panel .border-bottom,
.panel .border-left {
    border-color: #e9ecf2;
}

.article {
    padding: 10px 0;
}

.article:first-child {
    padding: 0 0 10px 0;
}

.article h4 {
    margin-bottom: 10px;
}

.article .date {
    text-align: center;
    margin: 5px auto;
    display: block;
}

.article .date .text-muted {
    margin-top: -5px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #e9ecf2;
    left: 25px;
    margin-right: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline i {
    font-size: 12px;
    color: #0c2e8a;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: calc( 100% - 65px);
    float: right;
    border: 1px solid #edeeed;
    border-radius: 2px;
    padding: 10px 20px;
    position: relative;
    box-shadow: none;
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    left: -11px;
    display: inline-block;
    border-top: 11px solid transparent;
    border-right: 11px solid #edeeed;
    border-left: 0 solid #edeeed;
    border-bottom: 11px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    left: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-left: 0 solid #fff;
    border-bottom: 10px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 46px;
    height: 46px;
    line-height: 51px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 0px;
    margin-right: -25px;
    background-color: #999999;
    z-index: 100;
    border-radius: 9999px;
}

.timeline-badge.primary {
    background-color: #30a5ff !important;
}

.timeline-badge.success {
    background-color: #8ad919 !important;
}

.timeline-badge.warning {
    background-color: #ffb53e !important;
}

.timeline-badge.danger {
    background-color: #f9243f !important;
}

.timeline-badge.info {
    background-color: #30a5ff !important;
}

.progress {
    height: 12px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f2f3f2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #30a5ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-success {
    background-color: #8ad919;
    background-image: none;
}

.progress-bar-info,
.progress-bar-blue {
    background-color: #30a5ff;
    background-image: none;
}

.progress-bar-warning,
.progress-bar-orange {
    background-color: #ffb53e;
    background-image: none;
}

.progress-bar-danger,
.progress-bar-red {
    background-color: #f9243f;
    background-image: none;
}

.progress-bar-teal {
    background-color: #1ebfae;
    background-image: none;
}

.jumbotron {
    background: #fff;
    border-bottom: 1px solid #e9ecf2;
    color: #444444;
}

.panel .tabs {
    margin: 0;
    padding: 0;
}

.nav-tabs {
    background: #f2f3f2;
    border: 0;
}

.nav-tabs li a:hover {
    background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
    border: 0;
    padding: 15px 20px;
}

.nav-tabs li.active a {
    color: #30a5ff;
}

.nav-tabs li a {
    color: #999;
}

.nav-pills {
    padding: 15px;
    padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
    border: 0;
    padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
    background: #30a5ff;
}

.tab-content {
    padding: 15px;
}

.navbar {
    border: 0;
}

.navbar input {
    border: 0;
    background: #444;
    color: #fff;
}

.navbar input:focus {
    color: #fff;
    background: #555;
    border: 1px solid #30a5ff;
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    list-style: none;
    padding: 0;
}

.user-menu a {
    color: #fff;
}

.user-menu a:hover,
.user-menu a:focus {
    text-decoration: none;
}

.sidebar {
    display: block;
    padding: 0;
    display: none;
    box-shadow: none;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sidebar ul {
    margin: 20px 0px;
}

.sidebar form {
    padding: 10px 0 0 0;
    margin: 10px 10px 20px 10px;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .navbar-header {
        width: 100%;
    }
}

.sidebar ul.nav a:hover,
.sidebar ul.nav li.parent ul li a:hover {
    text-decoration: none;
    background-color: #30a5ff;
    color: #fff;
}

.sidebar ul.nav .active a,
.sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active>a:hover,
.sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active>a:focus,
.sidebar ul.nav li.parent a.active:focus {
    color: #fff;
    background-color: #30a5ff;
}

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
    list-style: none;
    list-style-type: none;
}

.sidebar ul.nav li a {
    height: 50px;
    font-size: 15px;
    line-height: 2em;
    color: #444444;
}

.sidebar ul.nav ul.children {
    width: auto;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
    height: 40px;
    background: #f1f4f7;
    color: #444444;
}

.sidebar ul.nav li.current a {
    background-color: #30a5ff;
    color: #fff !important;
}

.sidebar ul.nav li.parent ul li a {
    border: none;
    display: block;
    padding-left: 30px;
    line-height: 40px;
    border-radius: 0;
}

.sidebar ul.nav li.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px 0;
}

.profile-sidebar {
    padding: 10px 0;
    background-color: #e9ecf2;
    border-bottom: 1px solid #e9ecf2;
}

.indicator {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 9999px;
    margin-right: 5px;
}

.profile-userpic img {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 50px;
    height: 50px;
    border-radius: 9999px !important;
}

.profile-usertitle {
    float: left;
    text-align: left;
    margin: 10px 0 0 12px;
}

.profile-usertitle-name {
    font-size: 20px;
    margin-bottom: 0px;
}

.profile-usertitle-status {
    text-transform: uppercase;
    color: #AAA;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.breadcrumb {
    border-radius: 0;
    padding: 10px 15px 10px 15px;
    background: #e9ecf2;
    margin: 0;
}

h1.page-header {
    margin-top: 20px;
    border-bottom: 0;
}

.main-chart {
    background: #fff;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}

.placeholder h2 {
    margin-bottom: 0px;
}

.donut {
    width: 100%;
}

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
}

.easypiechart .percent {
    display: block;
    position: absolute;
    font-size: 26px;
    top: 38px;
    width: 120px;
}

#easypiechart-blue .percent {
    color: #30a5ff;
}

#easypiechart-teal .percent {
    color: #1ebfae;
}

#easypiechart-orange .percent {
    color: #ffb53e;
}

#easypiechart-red .percent {
    color: #ef4040;
}

#calendar,
.datepicker-inline {
    width: 100%;
}

#calendar table {
    width: 100%;
}

.datepicker-switch {
    font-size: 16px;
    height: 46px !important;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #c5c7cc;
}

.datepicker table tr td {
    padding: 10px !important;
}

.datepicker table tr td span:hover,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: rgba(0, 0, 0, 0.05);
}

.todo-list {
    padding: 0;
    margin: -15px;
    background: #fff;
    color: #444444;
}

.todo-list .checkbox input[type=checkbox] {
    margin: 0;
}

.todo-list .checkbox {
    display: inline-block;
    margin: 0px;
}

.panel-body input[type=checkbox]:checked+label {
    text-decoration: line-through;
    color: #777;
}

.todo-list-item {
    list-style: none;
    line-height: 0.9;
    padding: 14px 15px 8px 15px;
}

.todo-list-item:hover,
a.todo-list-item:focus {
    text-decoration: none;
    background-color: #f6f6f6;
}

.todo-list .fa-trash {
    color: #444444;
}

.todo-list .fa-trash:hover {
    color: #ef4040;
}

.chat .panel-body ul {
    list-style: none;
    margin: -15px;
    padding: 15px;
}

.chat .panel-body ul li {
    padding: 3px 2px;
    border-bottom: 1px solid #e9ecf2;
}

.chat ul li.left .chat-body {
    margin-left: 80px;
}

.chat ul li.right .chat-body {
    margin-right: 80px;
}

.chat ul li .chat-body p {
    margin: 0;
}

.chat .panel-body {
    overflow-y: scroll;
    height: auto;
    max-height: 600px;
    min-height: 600px;
}

.order-view .panel-body {
    overflow-y: scroll;
    height: auto;
    max-height: 400px;
    min-height: 400px;
}

.chatpin .panel-body {
    overflow-y: scroll;
    height: auto;
    max-height: 1080px;
    min-height: 100px;
}

.chatview .panel-body {
    overflow-y: scroll;
    height: auto;
    max-height: 800px;
    min-height: 100px;
}

.chat-body small {
    margin-left: 5px;
}

.table {
    background: #fff;
}

.fixed-table-container {
    border: 1px solid #e9ecf2;
}

.fixed-table-container thead th {
    background: #f7f7f8;
    border-color: #ddd;
    color: #444444;
    font-weight: 300;
    font-size: 16px;
}

.fixed-table-container tbody td {
    border: 1px solid #e9ecf2;
}

.fixed-table-container tbody td:last-child {
    border-right: none;
}

.table>thead>tr>th {
    border-bottom: 1px solid #e6e7e8;
    vertical-align: middle;
    height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}

.fixed-table-pagination .pagination-detail {
    margin-top: 20px;
}

p.back-link {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.bs-wizard {
    margin-top: 0px;
}


/*Form Wizard*/

.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
}

.bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard>.bs-wizard-step+.bs-wizard-step {}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 25px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
    width: 0px;
    box-shadow: none;
    background: #fbe8aa;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
    width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
    width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
    left: 50%;
    width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
    width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}


/*END Form Wizard*/

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}


/* new post */

.item-product tbody tr td img {
    float: left;
    width: 84px;
}

.item-product tbody tr td h4 {
    margin-top: 0px;
}

.table-bordred th,
.table-bordred td {
    text-align: center;
    border: 1px solid rgb(21, 24, 24)!important;
}

.cp-hover tbody tr:hover {
    background: #e0eceb;
    cursor: pointer;
}

.cp-hover-fix .hover:hover {
    background: #e0eceb;
    cursor: pointer;
}

.timeline .primary:hover {
    color: #555;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
    text-align: left;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
    max-height: 25px;
}

.chat_ib p>strong {
    line-height: 25px;
}

.chat_img {
    float: left;
    width: 12%;
}

.chat_img img {
    width: 100%;
    height: 100%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 85%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 450px;
    overflow-y: scroll;
}

.active_chat {
    background: #dddddd;
}

.incoming_msg_img {
    display: inline-block;
    width: 5%;
}

.incoming_msg_img img {
    width: 100%;
    height: 100%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg {
    max-width: 70%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: fit-content;
}

.mesgs p img {
    width: 100%;
    height: 100%;
}

.time_date {
    color: #929292;
    display: block;
    font-size: 11px;
    margin: 1px 0 0;
    margin-bottom: 5px;
}

.mesgs {
    float: left;
    padding: 10px 0px 0 20px;
    width: 60%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 10px 0;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.sent_msg {
    float: right;
    max-width: 70%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none !important;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 85%;
    outline: none;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
    outline: none;
}

.messaging {
    padding: 0 0 0px 0;
}

.msg_history {
    height: 400px;
    overflow-y: auto;
}

.chat_list:hover {
    background: rgb(231, 231, 231);
    cursor: pointer;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 100%;
    padding: 2px 0 4px 6px;
    background: none;
}

@media (max-width: 768px) {
    .inbox_people {
        width: 100% !important;
        height: 100% !important;
    }
    .mesgs {
        width: 100% !important;
        border-top: 1px solid #acabab;
        height: 500px !important;
        padding-left: 0px;
    }
    .inbox_chat {
        height: 250px !important;
    }
    .msg_history {
        height: 90% !important;
    }
    .search-box {
        height: 50px !important;
        padding: 0px !important;
    }
    .sent_msg {
        max-width: 90%;
    }
    .received_withd_msg {
        max-width: 95%;
    }
    .incoming_msg_img {
        display: none;
    }
    .received_msg {
        padding-left: 1px;
    }
}

.panel-scroll {
    overflow-y: scroll;
    height: 100px;
    padding: 0px;
}

.panel-scroll-retail {
    overflow-y: scroll;
    height: 150px;
    padding: 0px;
}

.panel-scroll ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.panel-scroll-retail ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.panel-body .header {
    text-align: left;
}

.panel-body .header .img {
    width: 15%;
    height: 50px;
    float: left;
}

.panel-body p {
    text-align: left;
}

.oder-state {
    text-align: left;
}

tr.row-content a {
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
}

tr.row-content td input {
    width: 100%;
    text-align: center;
}

tr.row-content td.product {
    max-width: 500px;
}

tr.row-content td.product input {
    text-align: left;
}

tr.row-content td.product img {
    max-width: 100px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

tr.row-content td.product {
    text-align: left;
}

tr.row-content td.product a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-height: 1.3;
    /* fallback */
    max-height: 3.9;
    /* fallback */
    white-space: normal;
}

tr.row-content a:hover {
    color: #ff0000;
}

.oder a {
    color: #454546;
    text-decoration: none;
}

tr td a,
.user-table a {
    color: #036464;
    text-decoration: none !important;
    font-weight: bold;
}

.user-table a:hover,
.oder a:hover {
    color: #196cb9;
}

.search-form .input-group {
    float: right !important;
    /*transition: all 0.5s, border-radius 0s;*/
    width: 200px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-form .input-group input.form-control {
    border: none;
    background: transparent;
    box-shadow: none;
    display: block;
    padding: 1rem 2rem;
}

.search-form .input-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .input-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .input-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .input-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .input-group:hover,
.search-form .input-group.hover {
    /*width: 60%;*/
}

.search-form .input-group span.form-control-feedback {
    position: absolute;
    bottom: 0px;
    left: 5px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    left: initial;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.bold-red {
    font-weight: bold;
    color: red;
}

.bold-blue {
    font-weight: bold;
    color: blue;
}

.bold-green {
    font-weight: bold;
    color: green;
}

.bold-orange {
    font-weight: bold;
    color: orange;
}

.pull-down {
    position: relative;
    bottom: 0;
    top: 85%;
}

.see_more_message {
    list-style: none;
    text-align: center;
}

.see_more_message a {
    text-decoration: none;
}

.product-table input[type="text"] {
    width: 100%;
}

.bin {
    top: -5px;
}

.bin:hover {
    color: red;
}

.outline-error {
    outline: red solid 1px;
}

.outline-warning {
    outline: orange solid 1px;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-top {
    background-color: rgb(255, 255, 255);
    border-color: rgb(95, 176, 228);
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 100;
}

.navbar-top:nth-of-type(2) {
    border-top-width: 1px;
    z-index: 50
}

.navbar-top.affix-top {
    position: absolute;
    top: 0px;
    width: 100%;
}

.navbar-top.affix {
    top: 0px;
    width: 100%;
}

.navbar-top .navbar-toggle .icon-bar {
    background-color: rgb(95, 176, 228);
}

.navbar-top .navbar-brand {
    color: rgb(95, 176, 228);
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-top .navbar-nav>li>a {
    border: 0px solid rgb(95, 176, 228);
    color: rgb(120, 120, 120);
    padding: 15px 14px;
    text-align: center;
}

.navbar-top .navbar-nav>li>form>.input-group>input,
.navbar-top .navbar-nav>li>form>.input-group>.input-group-btn>.btn {
    border-radius: 0px;
}

.navbar-top .navbar-nav>li:not(.disabled).open>a,
.navbar-top .navbar-nav>li:not(.disabled).active>a,
.navbar-top .navbar-nav>li:not(.disabled)>a:hover,
.navbar-top .navbar-nav>li:not(.disabled)>a:focus {
    border-left-width: 5px;
    color: rgb(95, 176, 228);
    padding-left: 10px;
}

.navbar-top .navbar-nav>li.disabled>a {
    color: rgb(200, 200, 200);
}

.navbar-top .navbar-nav>li>.dropdown-menu {
    border-radius: 0;
    margin-right: -1px;
    min-width: 235px;
    padding: 0px;
    margin-left: 15px !important;
}

.navbar-top .navbar-nav>li:not(.dropdown-right)>.dropdown-menu {
    left: 0px;
    margin-left: -1px;
    right: auto;
}

.navbar-top .navbar-nav>li>.dropdown-menu>li>a {
    border-left: 0px solid rgb(95, 176, 228);
    color: rgb(120, 120, 120);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    white-space: nowrap;
}

.navbar-top .navbar-nav>li>.dropdown-menu>li.active>a,
.navbar-top .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-top .navbar-nav>li>.dropdown-menu>li>a:focus {
    background-color: rgb(245, 245, 245);
    border-left-width: 5px;
    padding-left: 15px;
}

.navbar .top-profile>a {
    padding-bottom: 9px;
    padding-top: 9px;
}

.navbar .top-profile>a>img {
    border-radius: 50%;
    width: 32px;
}

.navbar .top-profile>.dropdown-menu {
    width: 320px;
}

.navbar .top-profile>.dropdown-menu>li>.row {
    padding: 5px 15px;
}

.navbar .top-profile>.dropdown-menu>li>.row img {
    width: 100%;
}

.nav-padding {
    padding-top: 61px;
}

@media screen and (min-width: 768px) {
    .navbar-top .navbar-brand {
        font-size: 20px;
        height: auto;
        padding: 15px 5px;
    }
    .navbar-top .navbar-nav>li>a {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .navbar-top .navbar-nav>li:not(.disabled).open>a,
    .navbar-top .navbar-nav>li:not(.disabled).active>a,
    .navbar-top .navbar-nav>li:not(.disabled)>a:hover,
    .navbar-top .navbar-nav>li:not(.disabled)>a:focus {
        border-bottom-width: 5px;
        border-left-width: 0px;
        padding-bottom: 10px;
        padding-left: 14px;
    }
    .navbar-top .navbar-nav>li.disabled>a {
        padding-left: 10px;
        padding-right: 10px;
    }
     :target {
        color: rgb(95, 176, 228) !important;
    }
}

table.fix-row img,
table.fix-row input[type=file] {
    width: 100%;
    max-height: 25px;
}

table.fix-row input {
    width: 100%;
}

.text-left {
    text-align: left !important;
}

#btn-language-selected {
    background-color: transparent;
    color: black;
}

.mail-box {
    position: fixed;
    z-index: 1000;
    right: 1px;
    bottom: 1px;
    width: 40%;
    border: 1px solid #196cb9;
    border-radius: 0.3em;
}

.mail-box .panel,
.mail-box table {
    margin: 0;
    background-color: rgb(255, 248, 240);
}

.mail-box button i {
    padding-right: 5px;
}

.mail-box .head p {
    color: #44778A;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.mail-box textarea {
    max-height: 300px;
    resize: vertical;
    min-height: 100px;
}

.bold-tomoni {
    font-weight: bold;
    color: #44778A;
}

.list-product {
    padding: 0;
    max-height: 250px;
    min-height: 250px;
    overflow-y: scroll;
}

.list-product>ul {
    padding: 0;
}

.list-product li {
    list-style: none;
    padding: 5px 0 !important;
    min-width: 300px;
    text-align: left;
}

.list-product li div {
    padding: 3px 5px;
}

.list-product li .name {
    width: 75%;
    cursor: pointer;
    float: left;
}

.list-product li .quantity {
    text-align: center;
    width: 24% !important;
    float: left;
}

.list-product li .quantity input[type=number],
.list-product li .input {
    width: 100%;
}

.red {
    color: #ff0019;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.div-inline {
    display: flex;
}

.div-inline input {
    margin: 1px 7px 1px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    min-width: 400%;
    max-width: 500%;
    width: 100%;
}

@media (max-width: 800px) {
    .div-inline input {
        margin: 10px 0;
    }
    .div-inline {
        flex-direction: column;
    }
}


/* copy css Saiko */

.fh-form p:before,
.fh-form p:after {
    content: '';
    display: table;
}

.fh-form p:after {
    clear: both;
}

.fh-form .single-field {
    clear: both;
}

.fh-form .field {
    margin-bottom: 20px;
}

.fh-form .field.submit {
    margin-bottom: 0;
}

.fh-form input[type="submit"] {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.fh-form input[type="submit"]:focus {
    outline: none;
}

.fh-form textarea,
.fh-form input[type="text"],
.fh-form input[type="email"],
.fh-form input[type="date"],
.fh-form input[type="number"],
.fh-form select {
    width: 100%;
    border: 1px solid #ececec;
    padding-left: 15px;
    padding-right: 15px;
    color: blue;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.fh-form textarea:focus,
.fh-form input[type="text"]:focus,
.fh-form input[type="email"]:focus,
.fh-form input[type="date"]:focus,
.fh-form input[type="number"]:focus,
.fh-form select:focus {
    outline: none;
    border-color: #a8a8a8;
}

.fh-form textarea {
    height: 175px;
    padding: 10px 15px;
}

.fh-form input[type="text"],
.fh-form input[type="email"],
.fh-form input[type="date"],
.fh-form input[type="number"],
.fh-form select {
    font-size: 20px;
    height: 45px;
    line-height: 45px;
}

.fh-form .first-row,
.fh-form .last-row {
    width: 50%;
    padding: 0 15px;
}

.fh-form .first-row {
    float: left;
    padding-left: 0;
    clear: both;
}

.fh-form .last-row {
    float: right;
    padding-right: 0;
}

.fh-form ::-webkit-input-placeholder {
    color: #a8a8a8;
}

.fh-form ::-moz-placeholder {
    color: #a8a8a8;
}

.fh-form :-ms-input-placeholder {
    color: #a8a8a8;
}

.fh-form :-moz-placeholder {
    color: #a8a8a8;
}

.fh-form select {
    color: #a8a8a8;
}

.fh-form .note {
    padding-top: 10px;
}

.fh-form label {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    margin: 0;
}

.fh-form span.require {
    color: #ff0000;
}

.fh-form-1 .fh-form-row {
    margin-left: -10px;
    margin-right: -10px;
}

.fh-form-1 div[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.fh-form-3 textarea {
    height: 290px;
}

.fh-form-3 p.field {
    margin-bottom: 30px;
}

.fh-form-3 input[type="text"],
.fh-form-3 input[type="email"],
.fh-form-3 select {
    height: 50px;
    line-height: 50px;
}

.fh-form-3 .submit {
    text-align: center;
}

.fh-form-2 textarea {
    height: 145px;
}

.fh-form-2 input[type="text"],
.fh-form-2 input[type="email"],
.fh-form-2 select {
    height: 48px;
    line-height: 48px;
}

.fh-form-2 p.field {
    margin-bottom: 30px;
}

.fh-form-2 .field.submit {
    margin-top: -5px;
}

.request-form .form-label {
    color: #222;
    font-weight: 400;
    margin-bottom: 35px;
}

.request-form .field {
    margin-bottom: 25px;
}

.request-form .field.check-box {
    margin-bottom: 33px;
}

.request-form label {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3px;
}

.request-form textarea {
    height: 80px;
}

.request-form input[type="submit"] {
    width: 100%;
}

.request-form .checkbox-box {
    display: block;
    border: 1px solid #ececec;
    padding: 25px 20px;
}

.request-form .checkbox-box .wpcf7-list-item {
    display: block;
    margin-left: 0;
    margin-bottom: 8px;
}

.request-form .checkbox-box .wpcf7-list-item.last {
    margin-bottom: 0;
}

.request-form .checkbox-box .wpcf7-list-item label {
    width: 100%;
    color: #848484;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.request-form .checkbox-box .wpcf7-list-item-label {
    margin-left: 10px;
}


/*--------------------------------------------------------------
   Content
--------------------------------------------------------------*/

.fh-btn {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    display: inline-block;
    min-width: 150px;
    min-height: 50px;
    line-height: 50px;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0 20px;
    background-color: #05728f;
    text-transform: capitalize;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.fh-btn:hover,
.fh-btn:focus {
    color: #fff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    background-color: #05728f;
}

.fh-btn-2 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    display: inline-block;
    min-width: 150px;
    min-height: 50px;
    line-height: 50px;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0 20px;
    background-color: #0c1239;
    text-transform: capitalize;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.fh-btn-2:hover,
.fh-btn-2:focus {
    color: #fff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    background-color: #0c1239;
}
